<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzXcoEztuZ2nNADkizm_uRBabTiWgm_Js</string>
	<key>GCM_SENDER_ID</key>
	<string>1070000729396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.codeWorkApp</string>
	<key>PROJECT_ID</key>
	<string>codeworkapp-5d3e6</string>
	<key>STORAGE_BUCKET</key>
	<string>codeworkapp-5d3e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070000729396:ios:020b27663008fd28ecc961</string>
</dict>
</plist>